
@import "theme/styles.min.css";


/* @import "~bootstrap/dist/css/bootstrap.min.css"; */
@import "~materialize-css/dist/css/materialize.min.css";
/* @import "~materialize-css/dist/js/materialize.min.js"; */



@import '~@angular/cdk/overlay-prebuilt.css';

/* @import "~@angular/cdk/ally-prebuilt.css"; */

/*
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
*/


body {
    margin: 0px;
}

/* button {
    height: 30px;
    width: auto;
    font-size: 10px;
} */


